# 3D
robofactory/assets/
# 编译中间产物
*.egg-info/
__pycache__/
# 实验记录
robofactory/eval_gc_video
*.mp4        # 忽略所有 .mp4 文件
wandb/
output/
outputs/
*.log        # 忽略所有 .log 文件
log/         # 忽略 log 目录
*.png        # 忽略所有 .png 文件
# 数据集
data/
*.pkl
*.h5
# 数据集
data/
